* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.center {
  max-width: 1170px;
  height: 100%;
  margin: 40px auto;
}
/* 
===========
Navbar
===========
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-corner {
  display: flex;
  align-items: center;
}
.list {
  margin: 0.5rem 3rem 0.5rem 0;
  font-size: 14.56px;
}
.list a:hover {
  color: #f9d15c;
}
.list a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  transition: all 300ms linear;
}
.menu-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.sign-in a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 12.74px;
  font-weight: 700;
  padding: 10px 24px;
  border: 1px solid grey;
  border-radius: 2rem;
  transition: all 300ms linear;
  cursor: pointer;
}
.sign-in a:hover {
  background: #f9d15c;
  border-color: transparent;
  color: white;
}

/* 
===========
Header
===========
*/
.header {
  margin: 5rem auto;
}
.header-info {
  display: grid;
  grid-template-columns: 1fr 455px;
  grid-template-rows: 1fr;
  justify-content: space-between;
}
.info-text {
  max-width: 646px;
}
.info-text h1 {
  font-size: 54.6px;
  font-weight: 600;
}
.info-text p {
  font-size: 18.2px;
  font-weight: 400;
  color: #555555;
  width: 80%;
  margin-top: 1rem;
}
.info-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c c";
  column-gap: 2rem;
  row-gap: 3rem;
  padding: 2rem;
}
.date {
  grid-area: a;
}
.guests {
  grid-area: b;
}
.location {
  grid-area: c;
}
.box {
  display: flex;
  justify-content: left;
  padding-left: 1.5rem;
  align-items: center;
  font-size: 21.84px;
  font-weight: 400;
  text-transform: capitalize;
  background: #fafafa;
  border-radius: 0.5rem;
}
.box span {
  color: #999999;
  margin-right: 0.6rem;
}
.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-btn {
  color: white;
  background: #3771c8;
  border-radius: 0.5rem;
  padding: 1.296875rem;
}
.header-img {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b"
    "a c";
  gap: 1rem;
  position: relative;
}

.img-1 {
  grid-area: a;
  max-width: 873.84px;
}
.img-2 {
  grid-area: b;
  max-width: 281.5px;
}
.img-3 {
  grid-area: c;
  max-width: 281.5px;
}
.main-text {
  position: absolute;
  left: 15%;
  top: 80%;
  font-size: 43.68px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
/* 
=====================
Facilities & Service
=====================
*/
.service-header {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}
.service-text h1 {
  text-transform: capitalize;
  font-size: 36.4px;
  margin-bottom: 1rem;
}
.service-text p {
  font-size: 14.56px;
}
.view-link {
  align-self: flex-end;
}
.view-all {
  text-align: center;
  margin-bottom: 0.2rem;
}
.view-link a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14.56px;
  color: #3771c8;
  width: 100%;
}

.view-line {
  width: 99.19px;
  height: 5.46px;
  border: 1px solid #f9d15c;
  border-radius: 5rem;
}
.service-cards {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-left: 1.19rem;
  padding-right: 1.19rem;
  transition: all 300ms linear;
}

.card-icon {
  font-size: 3.185rem;
  position: relative;
  height: auto;
}

.card-icon::before {
  content: "";
  display: block;
  width: 3.185rem;
  height: 3.185rem;
  border-radius: 50%;
  background: #f9d15c;
  position: absolute;
  top: 0;
  left: -15%;
  z-index: -1;
}
.card h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18.2px;
  margin: 2rem auto 1rem auto;
}
.card p {
  font-size: 14.56px;
  color: #666666;
  margin-bottom: 3rem;
  line-height: 25.48px;
}
/* 
===========
Hotels
===========
*/
.hotels {
  margin: 6rem auto;
  display: flex;
  column-gap: 54.6px;
  margin-bottom: 4rem;
}
.hotels-img img {
  max-width: 35.7175rem;
}
.hotels-title {
  font-size: 2.275rem;
  max-width: 25rem;
  font-weight: 600;
  margin-bottom: 1.1375rem;
}

.hotels-text {
  color: #555555;
  font-size: 0.91rem;
  line-height: 1.5925rem;
  margin-bottom: 2.275rem;
}
.hotel-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.hotel-data h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.70625rem;
  margin-bottom: 0.91rem;
}
.hotel-data p {
  text-align: center;
  text-transform: capitalize;
  font-size: 0.91rem;
}
.hotels-btn {
  text-decoration: none;
  text-transform: capitalize;
  background: #3771c8;
  color: white;
  font-size: 0.91rem;
  padding: 0.91rem 1.82rem;
  border-radius: 0.5rem;
}
.hotel-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.hotel-list img {
  transform: scale(0.91);
}
/* 
===========
User Opinion
===========
*/
.opinion {
  display: flex;
  margin-bottom: 5rem;
  border-bottom-left-radius: 0.6825rem;
  border-top-left-radius: 0.6825rem;
}
.user-img img {
  max-width: 585px;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0.6825rem;
  border-top-left-radius: 0.6825rem;
}
.opinion-details {
  background: #f9d15c;
  border-top-right-radius: 0.6825rem;
  border-bottom-right-radius: 0.6825rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 2.5rem;
  text-align: center;
}
.opinion-details img {
  width: 3.64rem;
}
.opinion-details h4 {
  margin: 0.8rem auto 1rem auto;
  font-weight: 400;
  font-size: 0.91rem;
  color: #555555;
}
.opinion-details h1 {
  font-weight: 300;
  font-size: 1.70625rem;
  color: #222222;
  font-style: italic;
}
.details-line {
  color: rgba(55, 113, 200, 0.28);
  font-size: 1.5rem;
  font-weight: 400;
}
.details-line span {
  color: #3771c8;
  font-size: 1.5rem;
  font-weight: bold;
}
/* 
====================
Best Quality Hotels
====================
*/
.best-hotels {
  margin-bottom: 5rem;
}
.best-hotels-header {
  margin: 3rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
}
.best-hotels-text h1 {
  text-transform: capitalize;
  font-size: 36.4px;
  margin-bottom: 1rem;
}
.best-hotels-text p {
  font-size: 14.56px;
  max-width: 372.19px;
  color: #555555;
  line-height: 1.5925rem;
}
.star {
  margin-top: 1.5rem;
  display: flex;
  column-gap: 2.275rem;
}
#main-star {
  border: 1px solid #222222;
}
.star a:hover {
  border: 1px solid #222222;
}
.star a:hover ~ #main-star {
  border: 1px solid #e8e8e8;
}
.star a {
  text-decoration: none;
  color: #222222;
  text-transform: capitalize;
  border: 1px solid #e8e8e8;
  padding: 0.455rem 1.5925rem;
  border-radius: 0.455rem;
  transition: all 300ms linear;
}
.best-hotels-cards {
  display: flex;
  column-gap: 1.365rem;
}
.single-card {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
.single-card img {
  max-width: 374.01px;
}
.single-card-info {
  max-width: 374.01px;
  border-bottom-right-radius: 0.91rem;
  border-bottom-left-radius: 0.91rem;
  border: 1px solid #e8e8e8;
  border-top: none;
  padding: 1rem;
}
.single-card-title {
  font-weight: 600;
  font-size: 1.1375rem;
  margin-bottom: 0.5rem;
}
.single-card-text {
  font-size: 0.79625rem;
  color: #555555;
  font-weight: 400;
  margin-bottom: 1.535625rem;
}
.single-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-number {
  font-size: 1.365rem;
  font-weight: 600;
  color: #3771c8;
}
.price {
  text-transform: uppercase;
  font-size: 0.91rem;
  font-weight: 400;
  color: #555555;
}
.single-card-bottom a {
  text-decoration: none;
  font-size: 0.79625rem;
  font-weight: 600;
  text-transform: capitalize;
  background: #3771c8;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
}
